.am-section {
  padding: 48px 0;

  .am-section-title {
    //padding: 48px 0;
    .title {
      margin-bottom: 0;
    }

    .description {
      margin-top: 6px;
      font-size: 14px;
    }

    button,a {
      float: right;
      color: rgb(32, 33, 36);
      position: absolute;
      right: 0;
      top: 1rem;

      span {
        text-decoration: underline;
        font-size: 16px;
      }
    }
  }

}

.shadow {
  -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.button-metamask {
  padding-right: 2rem;
  padding-left: 2rem;
}

.footer {
  background-color: #f3f4f7;;
}


.bg-gradient{
  background-image: linear-gradient(#001A61, #000E35);
  background-color: #000E35;
  background-repeat: no-repeat;
  background-size: cover;
}